body {
    background: lightgrey;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}

#button {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

img {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    display: block;
}